@import "https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&display=swap";

:root {
    --color-green: #50fa7b;
}

* {
    margin: 0;
    border: 0;
    padding:0;
}
body {
    background: #282a36;
    font-family: 'Roboto', sans-serif;
    color: white;
}
header {
    padding: 32px;
    border-bottom: 1px solid var(--color-green) ;
    background-color: rgba(0, 0, 0, 0, 0.75);
}
.links {
    text-align: center;
}
.links a {
    color: white;
    font-size: 18px;
    line-height: 28px;
    margin: 0 16px;
    text-decoration: none;
}
.links a:hover {
    color: var(--color-green);
    transition: color 300ms;
}

#content {
    text-align: center;
    padding: 32px;
}

#content img {
    border-radius: 50%;
    height: 350px;
    border: 2px solid var(--color-green);
    margin-bottom: 32px;
}

#content h1 {
    font-weight: 700;
    font-size: 42px;
    line-height: 52px;
}

#content p {
    max-width: 500px;
    margin: 32px auto;
    font-size: 18px;
    line-height: 28px;
}
#content ul {
    list-style-position: inside;
}

#content ul li {
    margin: 12px;

}

#links-footer a {
    border-bottom: 1px solid var(--color-green);
}